ul{
    display: flex;
    justify-content: space-around;
  
  
    li{
    list-style-type: none;
  //  background-image: linear-gradient(to right, rgb(255, 7, 7), rgb(179, 255, 1), rgb(16, 163, 16));
    color: rgb(3, 3, 3);
    font-size: 28px;
    a{
      text-decoration: none;
      color: rgb(0, 0, 0);
     }
   }
  }