body
{
      margin: 0;
      padding: 0;
      height: 100vh;
      background-size: cover;
      background-position: center;
      h1{
        color: rgb(255, 0, 0);
       // background-color: white;
        font-family: Arial, sans-serif;
        font-size: 24px;
        margin: 0;
        padding: 20px;
       // background-color: #f0f0f0;
      // background-image: linear-gradient(to right, rgb(255, 7, 7), rgb(179, 255, 1), rgb(16, 163, 16));
        display: inline-block; /* Pour que le padding soit pris en compte */
      }

  ul{
      display: flex;
      justify-content: space-around;
    
    
      li{
      list-style-type: none;
    //  background-image: linear-gradient(to right, rgb(255, 7, 7), rgb(179, 255, 1), rgb(16, 163, 16));
      color: rgb(3, 3, 3);
      font-size: 28px;
      a{
        text-decoration: none;
        color: rgb(255, 5, 5);
       }
     }
    }
    @media only screen and ( max-width: 768px){
    body{
        h1{
          background-color: black;
        }
      }
   }    
   @media only screen and (min-width: 769px) and (max-width: 1024px){
    body{
      h1{
         background-color: red;
      }
    }
   } 
   footer {
    color: rgb(5, 4, 4);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
  }
}  
.hidden {
  opacity: 0;
}
.visible {
  opacity: 1;
  transition: opacity 0.5s;
}

 /* Style pour placer les images aleatoire de la page d'Accueil sur la même ligne */
 #image-container {
  display: flex;
  justify-content: space-between;
}

#image-container img {
  width: 19%;
  height: auto;
}
.Noclick{
  pointer-events: none;
  color: black;
}
